

main .form-section h2 {

    margin-bottom: 2rem;
    font-weight: 800;

    
    
}

main .form-section {

    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
    
}

main .form-section .form-section-flex-container {

    display: flex;
    max-width: 65rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;

}

main .form-section .form-section-flex-container .contact {

    width: 100%;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

main .form-section .form-section-flex-container .contact .field-label {

    font-size: 1.4rem;
    line-height: 130%;
    font-weight: 500;
}

main .form-section .form-section-flex-container .contact label {

    display: block;
    margin-bottom: 1rem;
}

main .form-section .form-section-flex-container .contact .field-text {

    margin-top: 0px;
    min-height: 6rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    transition: border 200ms ease;
    display: block;
    width: 100%;
    height: 3.8rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

main .form-section .form-section-flex-container .contact .field-textarea {

    height: auto;
    min-height: 23rem;
    border-radius: 3px;
    transition: border 200ms ease;
    display: block;
    width: 100%;
    padding: 0.8rem 1.2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    overflow: auto;


}

main .form-section .form-section-flex-container .contact .form-button {

    display: flex;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    background-color: #007aff;
    font-size: 1.6rem;
    font-weight: 500;

    
    padding: 9px 15px;
    
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2rem;

}


@media (max-width: 768px) {


    main .title-form-section {

        padding-right: 2rem;
        padding-left: 3.5rem;
    }

    main .form-section {

        padding-right: 2rem;
        padding-left: 2rem;
    }



}



#imagen {

    background-color: #fff;
    color: #333;
    display: block;
    font-size: 1.4rem;
    line-height: 1.42857143;
    padding: 0.8rem 1.2rem;
    transition: border .2s ease;
    width: 100%;
    margin-bottom: 2rem;
}


.imagen-small {
    
    width: 20rem;
}